<div class="mx-20 my-10 md:mx:10 lg:mx-20">
    <div class="flex flex-col md:flex-row md:space-x-10">
        <div class="border-2 px-9 py-12 text-black rounded-md md:w-64 lg:w-96">
            <h5 class="text-3xl prose capitalize">get in touch</h5>
            <p class="prose">Need help with any of our services or need to make an inquiry?</p>
            <p class="prose my-3">Drop us a line and you're sure to get a timely response</p>
            <h5 class="text-3xl prose capitalize">address</h5>
            <p class="prose my-3">
                <fa-icon [icon]="location"></fa-icon> DE BOERS DRIVE, UNIT 338, TORONTO, ON M3J 0H1, CANADA
            </p>
            <h5 class="text-3xl prose capitalize">email</h5>

            <p class="prose my-3">
                <fa-icon [icon]="envelope" title="enquiry"></fa-icon> info@wirepick.com
            </p>
            <p class="prose mb-3">
                <fa-icon [icon]="envelope" title="enquiry" title="sales"></fa-icon> business@wirepick.com
            </p>
        </div>
        <div class="flex-1 border rounded-t-md px-9 py-12">
            <!-- <app-form [formArray]="inputs" type='{{type}}' name='{{name}}' placeholder='{{placeholder}}'
                textarea='{{textareas}}'></app-form> -->
            <app-form textColor='{{textColor}}' border="{{border}}" mt="{{mt}}" width="{{width}}"
                (submitForm)="contactForm()" btnText="{{btnText}}">
                <h5 class="prose prose-2xl text-center border-b pb-2 mb-1">Please fill out this form to contact us</h5>
                <app-form-array [formFields]="inputs"></app-form-array>
                <div *ngIf="textarea">
                    <app-input textarea="{{textarea}}" type="{{type}}" title="{{title}}" placeholder="{{placeholder}}"
                        name="{{name}}"></app-input>
                </div>
            </app-form>
        </div>
    </div>
</div>