<div>
    <div class="bg-gray-100 py-16">
        <div class="max-w-3xl m-auto border-2 grid grid-cols-2">
            <div class="bg-white px-12">
                <div class="flex justify-center -mt-3">
                    <fa-icon [icon]="user" size="2x" class="w-10 h-10 border-gray-200 border rounded-full bg-white">
                    </fa-icon>
                </div>
                <div class="">
                    <app-login-inputs></app-login-inputs>
                </div>
            </div>
            <div class="bg-blue-500 text-white px-12 pt-6">
                <p class="prose prose-2xl capitalize text-white pb-5">Not yet registered?</p>
            </div>
        </div>
    </div>
</div>