<div class="contain">
  <h3>Payment Form</h3>

  <div class="row">
    <div class="form-group col">
      <label>Payee Name</label>
      <input (input)="onNameChange($event.target)" class="form-control" />
    </div>
    <div class="col">
      <label for="name"><b>Name</b></label>
      <div>{{ name | titlecase }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <input
        type="date"
        (input)="onDateChange($event.target)"
        class="form-control"
      />
    </div>
    <div class="col">
      <label for="name"><b>Payment Date</b></label>
      <div>{{ date | date: "longDate" }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Amount</label>
      <input
        type="number"
        (input)="onAmountChange($event.target)"
        class="form-control"
      />
    </div>
    <div class="col">
      <label for="name"><b>Payment Amount</b></label>
      <div>{{ amount | currency: "NGN" }}</div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Height</label>
      <input
        type="number"
        (input)="onHeightChange($event.target)"
        class="form-control"
      />
    </div>
    <div class="col">
      <label for="name"><b>Height</b></label>
      <div>{{ height | number: "1.0-2" }}</div>
    </div>
  </div>

  <!-- custom pipe -->
  <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <input
        type="number"
        (input)="onMilesChange($event.target)"
        class="form-control"
      />
    </div>
    <div class="col">
      <label for="name"><b>Kilometers</b></label>
      <div>{{ miles | customPipe: "km" | number: "1.0-3" }}</div>
    </div>
  </div>
</div>
