<div class="carousel slide relative h-96" data-bs-ride="carousel">
    <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner relative w-full overflow-hidden h-96">
        <div class="carousel-item active relative float-left w-full h-full">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg"
                class="block w-full object-fill h-full opacity-90" alt="..." />
            <div class="carousel-right-desc block absolute">
                <h5 class="prose text-4xl text-right text-white font-semibold">
                    Need to deliver
                    sms?</h5>
                <div class="flex justify-end">
                    <p class="prose text-right text-white ">Wirepick's Messaging
                        platform is
                        a dynamic and multitarget platform that can be used to reach your customers across the globe.
                    </p>
                </div>

            </div>
        </div>
        <div class="carousel-item  relative float-left w-full h-full">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg" class="block w-full object-fill h-full"
                alt="..." />
            <div class="carousel-right-desc block absolute">
                <h5 class="prose text-4xl text-center text-white font-semibold">
                    Need to deliver
                    sms?</h5>
                <div class="flex justify-center">
                    <p class="prose text-center text-white ">Wirepick's Messaging
                        platform is
                        a dynamic and multitarget platform that can be used to reach your customers across the globe.
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item relative float-left w-full h-full">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg" class="block w-full object-fill h-full"
                alt="..." />
            <div class="carousel-right-desc block absolute">
                <h5 class="prose text-4xl text-right text-white font-semibold">
                    Need to deliver
                    sms?</h5>
                <div class="flex justify-end">
                    <p class="prose text-right text-white">Wirepick's Messaging
                        platform is
                        a dynamic and multitarget platform that can be used to reach your customers across the
                        globe.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>