<h2 class="pl-40 text-lg pt-5">My Heroes</h2>
<ul class="pt-5 pl-40 w-96">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
        class='bg-gray-200 pl-0 p-2 w-full mb-2 cursor-pointer rounded-md hover:ml-1'
        [class.bg-gray-900]='hero===selectedHero' [class.text-white]='hero===selectedHero'>
        <span class="bg-gray-700 text-white text-sm p-3 mr-2">{{hero.id}}</span>{{hero.name}}
    </li>
</ul>

<!-- selected heror component details -->
<!-- <div *ngIf="selectedHero">
    <h2 class="pl-40 text-lg pt-5">{{selectedHero.name | uppercase}} Details</h2>
    <div class="pt-5 pl-40"><span>id: </span>{{selectedHero.id}}</div>
    <div class="pl-40">
        <label for="name">Hero name: </label>
        <input id="name" [(ngModel)]="selectedHero.name" placeholder="name" class="border-2 p-2 text-sm">
    </div>
</div> -->

<app-hero-details [hero]="selectedHero"></app-hero-details>